* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    
    font-family: Poppins;
    font-weight: 400;
  /*  background-color: rgb(16, 117, 233);*/
  /*  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/background-img.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
  }
  
  /******nav bar and responsiveness****/
  nav {
    padding: 8px;
    box-sizing: border-box;
    height: 80px;
   /* background: rgb(16, 117, 233);*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    
  }
  
  .logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
    
  }
  
  .logo a {
  /*  color: rgb(0, 68, 255);*/
    color: darkorange;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .current {
    color: rgb(6, 61, 143);
    
  }
  
  nav ul {
    display: inline-block;
    float: right;
  }
  
  nav ul li {
    display: inline-block;
    float: left;
  }
  
  nav ul li:not(:first-child) {
    margin-left: 48px;
  }
  
  nav ul li:last-child {
    margin-right: 24px;
  }
  
  nav ul li a {
    display: inline-block;
    
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    
  padding: 4px 10px;
  
  
  text-decoration: none;
  transition: 0.5s ease;
  }
  
  .nav ul li  a:hover {
    color: darkorange;
    background-color: white;
  }
  
  @media screen and (max-width: 864px) {
    .logo {
          padding: 0;
    }
  
    .nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background:#fff;
          opacity: 0;
          transition: 0.2s ;
    }
  
    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }
  
    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }
  
    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.1s;
    }
  
    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.1s;
    }
  
    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.1s;
    }
  
    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.1s;
    }
  
    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }
  
    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition:  0.1s;
          margin-right: 90px;
          border-radius: 2px;
    }
  
    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }
  
    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: darkorange;
          border-radius: 2px;
          margin-left: 14px;
    }
  
    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }
  
    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }
  
    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
  }
  
  #nav:checked + .nav-btn {
    transform: rotate(45deg);
  }
  
  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
  }
  
  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  
  #nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
  }
  
  #nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  
  #nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
  }
  
  #nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
  }
  
  .hidden {
    display: none;
  }
  
  /*****login & sign up****/
  .login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    z-index: -1;
  }
  .login-box p {
   color: darkorange;
   margin-top: 20%;
  }
  
  .login-box h1{
    float: left;
    font-size: 30px;
    border-bottom: 3px solid #074f80;
    margin-bottom: 50px;
    padding: 13px;
    color: white;
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #074f80;
  }
  .textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .login-box a{
    text-align: center;
    text-decoration: none;
   /*background-color: white;*/
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0 10px;
    padding: 8px 0;
    margin: 8px 0;
    
  }
  
  ::placeholder{
    color: rgb(224, 220, 220);
  }
  
  .btn{
    margin: 12px 0;
    width: 90%;
    border-radius: 10px;
    color: #074f80;
    font-size: 18px;
    /*background: white; */
    padding: 5px;
    cursor: pointer;
    border: wheat;
  
  }
  .first{
    background-color: white;
  }
  .second{
    background: darkorange;
    color: white;
  }
  .bg-color{
    background: rgb(212, 211, 211);
  }
  .btn:hover{
    background-color:  #074f80;
    color: white;
  }
  /*****footer****/
  footer{
    text-align: center;
    position: fixed;
    color: white;
    background-color: #074f80;
    width: 100%;
    bottom: 0;
    height: 35px;
  
   /* padding: 2px; */
  }
  .separate{
    z-index: 1;
    min-height: 8vh;
  
  }
  .containerog{
    margin-bottom: 0px;
  }
  
  
  /* ...................tables- mentors.......*/
  .mentor-table{
    position:  relative;
    
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px; 
    z-index: 0;
  }
  
  .col{
    flex: 20%;
    padding: 8px;
    max-width: 320px;
    box-sizing: border-box;
    
  }
  
  .table{
    background: #fff;
    padding: 40px 20px;
    font-family: "montserrat",sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
  }
  .table h2{
    text-transform: uppercase;
  }
  .table ul{
    margin: 0;
    padding: 0;
  }
  .table ul li{
    padding: 10px 0;
    list-style: none;
  }
  .mentorDetail{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .mentorDetail span{
    display: block;
    font-size: 14px;
  }
  .mentorDetail img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .table li , div ,span{
    color: #2c3e50;
  }
  .table .book-session {
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;;
    display: block;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
    width: 70%;
  }
  .table .book-session:hover{
    background: darkorange;
    color: #fff;
  }
  
  
  /* ...................tables- mentors<<<<<<responsiveness>>>>>>.......*/
  @media screen and (max-width:980px) {
    .col{
      flex: 50%;
    }
  }
  
  @media screen and (max-width:700px) {
    .col{
      flex: 100%;
    }
  
  }
  
  /* ...................tables- mentors<<<<<<responsiveness>>>>>>.......*/
  
  /****modal****/
  .modal{
   width:  100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .modal-detail{
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  }
  
  .modal-detail input{
  width: 70%;
  height: 50px;
  display: block;
  margin: 20px auto;
  outline: none;
  }
  .modal-button , .modal-btn{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 8px;
    margin: 10px 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    background: #074f80;
  }
  .modal-button:hover , .modal-btn:hover {
    background: darkorange;
    color: #fff;
  }
  .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  
  /******choose btn*****/
  .home-btn{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);  
  }
  .two-btn{
  background-color: rgb(16, 117, 233);
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
  }
  
  .two-btn:hover{
  
  background: darkorange;
  color: #ffffff;
  }
  /*...................home buttons responsiveness....... 
  @media (max-width: 426px){
      .two-btn a{
            display: block;
            margin-top: 20px;
      }
  }*/
  /******welcome text********/
  .welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .welcome-text h1 , h3 {
        
        color: white;
    }
    .welcome-text h1 span ,h3  span{
    color: darkorange;
    }
    .welcome-text a{
      text-decoration: none;
    }
  
  /****choose****/
  